<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://assets/media/images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://assets/css/main.css') %}
    {% endblock %}
    {{ assets.css()|raw }}

{% endblock head %}
</head>
<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}" intro="{{ header.intro_toggle }}">
    
    {% block intro %}
        {% if header.intro_toggle == 'true' %}
            {% include 'partials/intro.html.twig' %}
        {% endif %}
    {% endblock %}
    
    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}
    
    {% block navigation %}
        {% include 'partials/navigation.html.twig' %}
    {% endblock %}
    
    {% block body %}
        <main>
            {% block content %}{% endblock %}
        </main>
    {% endblock %}

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}
    
    {% include 'partials/scripts.html.twig' %}

</body>
</html>
